{% extends 'base.html' %}

{% block title %}App 2 - Vista 1{% endblock %}

{% block content %}
<h1>Catálogo Principal - App 2</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia blanditiis ipsam dicta veniam animi illo? At accusantium aspernatur ipsa quod labore optio eaque ipsum sequi culpa animi! Dignissimos, nisi deserunt!
    A ea deserunt, consequatur eius odio magni at est dolores itaque doloremque id molestias sapiente voluptatem ab. Aliquam ipsum officiis ex amet sunt vitae, ipsam ea, in sapiente aut voluptates.
    Doloribus molestias rerum quas ipsum, obcaecati quos, provident pariatur molestiae iusto corrupti nulla maiores. Fuga neque quos expedita saepe tempore natus ipsum perferendis maiores rem itaque facilis, distinctio earum vel.
    Reprehenderit debitis aspernatur quibusdam facere magnam natus, minima nesciunt et architecto eius mollitia sapiente pariatur earum maxime laborum est asperiores fugit dicta officiis nulla fuga aliquam accusantium repellendus! Minima, inventore.
    Magnam ipsum ipsam quae iure tempora! Voluptatum itaque eligendi, id, harum pariatur ipsum, nemo magni quas necessitatibus eum laborum culpa? Obcaecati blanditiis reiciendis id, ea quia nesciunt tenetur error exercitationem.
    Velit voluptatibus cum asperiores neque, consequuntur culpa magni vitae non sit quia dolorum quae odit excepturi! Ut molestiae voluptates provident soluta quaerat natus, ipsam laboriosam quis est perspiciatis itaque suscipit.
    Dicta ratione facere quidem natus, quasi iusto architecto exercitationem reiciendis facilis eum animi recusandae optio hic beatae numquam, corrupti aperiam tenetur laboriosam saepe, quas ullam iure! Nulla eligendi minima vel.
    Tempora nemo eos numquam error tempore, quis officiis accusamus, veritatis voluptates exercitationem quae, minus repellat harum saepe! Cum, magnam. Ratione quasi officiis amet dolor omnis voluptatibus enim molestias nihil beatae?
    Expedita quam necessitatibus placeat nihil nulla voluptatum, eos similique corporis tempore quisquam ullam suscipit nam quia praesentium in enim, porro ab veritatis fugit a. Totam cupiditate assumenda suscipit unde blanditiis?
    Aspernatur qui voluptates, corporis natus dignissimos nobis architecto expedita eum blanditiis odio repudiandae, laboriosam quaerat optio esse tempora ducimus, veniam eveniet iste voluptas nemo unde necessitatibus voluptatem quia commodi? Iusto.
</p>
{% endblock %}