{% extends 'base.html' %}

{% block title %}App 1 - Vista 2{% endblock %}

{% block content %}
<h1>Segunda Sección de la Aplicación 1</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis animi, ullam alias modi quaerat nihil blanditiis nostrum voluptates laudantium voluptatum debitis, repellat rem sapiente omnis. Eaque eius libero doloremque. Tempore?
    Fuga ipsam maiores sit optio aliquid! Nemo sit, magnam quas fugit commodi vitae ad, sapiente repudiandae numquam ipsam ratione et quo soluta magni amet dolorum. Sed nesciunt dolor animi aliquid?
    Vitae libero, ullam ut illum nobis ea placeat labore fugit corrupti temporibus aliquid blanditiis quaerat quos vero numquam quo corporis ex perferendis ad aut. Repellat voluptates dignissimos quo suscipit nobis?
    Iure, esse molestias incidunt illum non eligendi aperiam facilis nemo atque blanditiis vitae ea corrupti sequi optio expedita, nisi earum eveniet vel eius labore? Magni architecto id exercitationem a libero.
    Praesentium doloribus itaque velit nemo reiciendis quos aliquid rem autem ducimus, commodi magni repellat modi odit id inventore cumque dignissimos asperiores corporis doloremque laudantium debitis. Soluta, veritatis hic. Est, aspernatur.
    Non hic quibusdam quaerat laboriosam porro eius, sed enim, assumenda nobis distinctio debitis doloribus temporibus dolores quas sapiente possimus, ex vitae nulla! Libero ullam dolor amet labore deleniti non repudiandae.
    Delectus totam alias nulla at asperiores? Quidem, fugiat dolor amet eos culpa numquam velit laborum, omnis porro in at vel voluptatibus ipsum quis. Ad itaque recusandae, nam eos nihil quia?
    Ut odio labore nisi laboriosam sit pariatur natus ratione ullam sequi alias quidem magni placeat dolores sed voluptatem adipisci eos optio, nam veniam error quos voluptas nulla ex. Quidem, eius.
    Necessitatibus, accusantium distinctio. Fuga error delectus culpa accusantium obcaecati ab. Sed officiis corporis repellendus impedit omnis odit aut, neque aliquam quia exercitationem perspiciatis voluptatum, blanditiis sint, quisquam fugiat obcaecati excepturi.
    Facere quod eos ea deserunt omnis, eum libero odio iure nulla quia ullam distinctio necessitatibus a voluptatibus magnam temporibus quas minima dolor natus. Odit animi aspernatur non laborum ab qui?
</p>
{% endblock %}