{% extends 'base.html' %}

{% block title %}App 1 - Vista 1{% endblock %}

{% block content %}
<h1>Bienvenido a la Aplicación 1</h1>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, temporibus! Molestiae pariatur veritatis consequuntur repudiandae provident? Dolores nihil odio non sed quae. Corrupti quasi inventore enim quod tenetur, est ullam?
Placeat ex, itaque sit molestiae asperiores expedita ab voluptate nobis, dolor voluptatibus minima eligendi magni vitae atque laboriosam qui alias provident facilis. Saepe nostrum iste cumque. Omnis asperiores corporis eaque?
Earum amet recusandae porro? Consectetur dignissimos et doloribus, culpa eligendi expedita repudiandae sint, laborum tenetur harum iure accusamus, tempore vel dolorem ipsam quos magni deleniti nesciunt eaque veniam reprehenderit repellendus.
Natus consequuntur cupiditate delectus esse accusamus quia itaque id sapiente deleniti at suscipit explicabo, quibusdam eius, non eaque voluptatum vel cum accusantium! Fugit asperiores sapiente deserunt nam. Sed, eaque sapiente?
Incidunt autem aspernatur sed deleniti officiis non eveniet. Sunt, et. Exercitationem, amet eligendi facere sapiente totam aut aperiam et asperiores autem suscipit quos praesentium omnis aliquam sed aliquid doloribus id?
Corrupti, earum iste cum voluptates officiis aspernatur ipsa iure cumque. Provident ullam eum voluptatibus, omnis quasi dolor? Tempore eaque, eius autem fugiat nemo obcaecati sed quaerat? Nisi ratione tenetur fugiat.
Illum dolores quasi quo vero provident nesciunt corporis ipsum magni. Ipsum error nam cupiditate necessitatibus vero eaque doloribus rerum hic iure quis fugit facilis illum minus beatae, maiores illo accusantium!
Odio iusto soluta nobis rerum commodi maiores sequi aperiam saepe laudantium accusantium, numquam officia quis similique ipsum, dolorum magnam? Odit aliquam commodi vero reprehenderit placeat dolor quia porro est ex.
A minus quae aspernatur sapiente recusandae sunt nesciunt ipsa inventore, accusamus commodi? Enim temporibus accusamus ipsam hic ab magni veritatis! Minus pariatur illum eaque corporis nisi autem animi aut? Distinctio!
Tempore libero aspernatur maiores voluptas tenetur laboriosam dignissimos natus! Distinctio, quas fugit magni, nemo asperiores earum voluptatum quam laborum tenetur sapiente sed beatae necessitatibus nostrum nihil odit aperiam mollitia quia.
</p>
{% endblock %}